APP_NAME=BlueyVet
APP_ENV=local
APP_KEY=base64:N3RuisJBMaZW6skzT2f0DNVCRV+dh6697MKCuXMJS38=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=blueyvet3
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=fatima.rodriguez@tecsup.edu.pe
MAIL_PASSWORD="xqtc mgvn bkjc oovg"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="fatima.rodriguez@tecsup.edu.pe"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Configuración de PayPal
PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=Aa-9Kerz68zc0lK-U2g8IUSPGjSCZZaGy-9OOIgCs8lcnyBqDOFYLx_TG5HEAOKSTxydkY_KonIgzc1X # TU CLIENT ID
PAYPAL_SANDBOX_CLIENT_SECRET=EJj3fX2IUkaBg42JKAjgX15H4_MZ6MIL122s4Gd1Rm-AP8BUudeZ41ST3iUIUIw2b7RFa2s6uv3viON3 # TU SECRET KEY
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_CURRENCY=USD #sandbox no deja poner PENe
PAYPAL_VALIDATE_SSL=false # ¡Muy importante para pruebas en localhost!
